<div class="update-password-container">
    <h2>Update Password</h2>
  
    <form (ngSubmit)="updatePassword()">
      <div>
        <label for="newPassword">New Password:</label>
        <input 
          id="newPassword" 
          type="password" 
          [(ngModel)]="newPassword" 
          name="newPassword" 
          required>
      </div>
      <button type="submit">Update Password</button>
    </form>
  
    <p *ngIf="errorMessage">{{ errorMessage }}</p>
    <p *ngIf="successMessage">{{ successMessage }}</p>
  </div>
  
